@use 'sass:map';
@use 'variables' as *;

@mixin basic {
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  color: map.get($theme, 'text-primary');
  background-color: map.get($theme, 'primary');
}

@mixin small {
  line-height: 32.4px;
  font-size: 13px;
}
