@use 'sass:map';
@use 'variables' as *;

@mixin card {
  display: grid;
  grid-column-gap: 1.25rem;
  grid-row-gap: 0.5vh;
  grid-template-areas: 'title'
                       'image'
                       'content'
                       'action';
  padding: 1em 2rem;
  margin: 0.5vh 0.5rem;
  background-color: map.get($theme, 'background');
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

@mixin card-panel {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  margin: 0.5rem 0 1rem 0;
}

@mixin card-horizontal {
  padding: 1em 0.5rem;
  grid-template-areas: 'image title title'
                       'image content content'
                       'action action action';
  grid-template-columns: fit-content(35%) auto;
  grid-column-gap: 1rem;
}

@mixin card-image {
  grid-area: image;
}

@mixin card-horizontal-image {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  justify-self: center;
}

@mixin card-title {
  grid-area: title;
  line-height: 32px;
  font-size: 24px;
  margin: 0 !important;
}

@mixin card-content {
  grid-area: content;
  align-self: top;
}

@mixin card-action {
  grid-area: action;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  text-transform: uppercase;
  border-radius: 0 0 2px 2px;
  align-self: end;

  a {
    margin-right: 24px;
    transition: color .3s ease;
  }
}
