@use 'sass:map';
@use 'defaults';

@mixin dropdown-content ($theme: defaults.theme){
  font-size: 16px;
  color: map.get($theme, 'text-primary')
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}
