@mixin valign {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

@mixin z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                      0 3px 1px -2px rgba(0,0,0,0.12),
                      0 1px 5px 0 rgba(0,0,0,0.2);

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}

@mixin z-depth-5 {
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),
              0 9px 46px 8px rgba(0,0,0,0.12),
              0 11px 15px -7px rgba(0,0,0,0.2);
}
