@mixin icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@mixin icon-before($icon) {
  &::before {
    @include icon;
    content: $icon;
    padding-right: 0.5rem;
  }
}

@mixin icon-after($icon) {
  &::after {
    @include icon;
    content: $icon;
    padding-left: 0.5rem;
  }
}
