@forward "variables";

@forward 'animations';
@forward 'buttons' as button-*;
@forward 'cards';
@forward 'colors';
@forward 'helpers';
@forward 'icons';
@forward 'input-fields';
@forward 'typography' as typography-*;
@forward 'tabs';

@use "typography";

@mixin ui {
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v109/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

  @include typography.base;
}
