@use 'sass:map';
@use 'variables' as *;

@mixin tab_bar {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: map.get($theme, 'background');
  margin: 0 auto;
  white-space: nowrap;
  border-bottom: 1px solid map.get($theme, 'primary') !important;
}

@mixin tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0 24px;
  margin: 0;
  text-transform: uppercase;
  background-color: map.get($theme, 'background');
  color: map.get($theme, 'primary');
  box-shadow: none;
  transition: background-color .1s linear;

  &.active {
    color: map.get($theme, 'primary-variant');
    border-bottom: 2px solid !important;
    border-color: map.get($theme, 'primary') !important;
  }

  &.disabled,
  &:hover {
    color: rgba(map.get($theme, 'primary-variant'), .7);
    cursor: default;
  }
}


// .indicator {
//   position: absolute;
//   bottom: 0;
//   height: 2px;
//   background-color: $tabs-underline-color;
//   will-change: left, right;
// }

@mixin tab-transparent {
  background-color: transparent;

  a,
  .tab.disabled a,
  .tab.disabled a:hover {
    color: rgba(255,255,255,0.7);
  }

  .tab a:hover,
    .tab a.active {
    color: #fff;
    }

  .indicator {
    background-color: #fff;
  }
}

@mixin tabs-fixed-width {
  display: flex;
  & > * {
    flex-grow: 1;
  }
}


// Fixed sideNav hide on smaller
@media #{$medium-and-down} {
  .tabs {
    display: flex;

    .tab {
      flex-grow: 1;

      a {
        padding: 0 12px;
      }
    }
  }
}
